:host {
  position:fixed;
  bottom:0;
  right:0;
  z-index: 999;
  background-color: white;
  max-width: 512px;
  max-height: 512px;

  ::ng-deep .mat-toolbar-single-row {
    height: 48px;
  }

  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding-bottom: -4px;
}


mat-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.player-wrapper {
  background-color: black;
  max-width: 512px;
}

.audio-player {
  img {
    object-fit: cover;
    width: 100%;
    max-height: 448px;
  }
}

video {
  max-width: 512px;
  max-height: 512px;
  margin-bottom: -4px;
  /*max-height: 448px;*/
}
