@media screen and (min-width: 768px) {
  .ps .navbar-fixed-top {
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .ps body {
    padding-top: 55px;
  }
}
.ps .navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.ps .navbar-nav > li {
  float: left;
}
