
<div class="container item-details">

    <br/>
    <ol class="breadcrumb">
        <li><a href="/podcasts">Podcasts</a></li>
        <li><a ng-href="/podcasts/{{ idc.item.podcast.id }}"> {{ idc.item.podcast.title }}</a></li>
        <li class="active">{{ idc.item.title }}</li>
    </ol>

    <div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="thumbnail">
                <a ng-href="{{ idc.item.proxyURL || idc.item.url }}" target="_self">
                    <img class="center-block" ng-src="{{idc.item.cover.url}}" width="200" height="200">
                </a>

                <div class="caption">

                    <div class="buttonList text-center">
                        <!-- Téléchargement en cours -->
                        <span ng-show="idc.item.status == 'Started' || idc.item.status == 'Paused'" >
                            <button ng-click="idc.toggleDownload(idc.item)" type="button" class="btn btn-primary "><i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pause"></i></button>
                            <button ng-click="idc.stopDownload(idc.item)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-stop"></span></button>
                        </span>

                        <!-- Lancer le téléchargement -->
                        <button ng-click="idc.item.download()" ng-show="(idc.item.status != 'Started' && idc.item.status != 'Paused' ) && !idc.item.isDownloaded" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span></button>

                        <a ng-href="/podcasts/{{ idc.item.podcast.id }}/item/{{ idc.item.id }}/play" ng-show="idc.item.isDownloaded" type="button" class="btn btn-success"><span class="ionicons ion-social-youtube"></span></a>

                        <!-- Add to Playlist -->
                        <a ng-show="idc.item.isDownloaded" ng-click="idc.toggleInPlaylist()" type="button" class="btn btn-primary">
                            <span ng-hide="idc.isInPlaylist()" class="glyphicon glyphicon-plus"></span>
                            <span ng-show="idc.isInPlaylist()" class="glyphicon glyphicon-minus"></span>
                        </a>

                        <div class="btn-group" dropdown is-open="isopen">
                            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle><i class="ionicons ion-android-more"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li ng-show="idc.item.isDownloaded"><a target="_self" ng-href="{{ idc.item.proxyURL }}"><span class="glyphicon glyphicon-play text-success"></span> Lire</a></li>
                                <li><a ng-click="idc.remove(idc.item)" ng-show="(idc.item.status != 'Started' && idc.item.status != 'Paused' )"><span class="glyphicon glyphicon-remove text-danger"></span> Retirer</a></li>
                                <li><a ng-href="{{ idc.item.url }}" target="_self"><span class="glyphicon glyphicon-globe text-info"></span> Lire en ligne</a></li>
                                <li><a ng-click="idc.reset(idc.item)"><span class="glyphicon glyphicon-repeat"></span> Reset</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ idc.item.title }}</h3>
                </div>
                <div class="panel-body">
                    {{ idc.item.description | htmlToPlaintext }}
                </div>
                <div class="panel-footer">Date de publication : <strong>{{idc.item.pubdate | date : 'dd/MM/yyyy à HH:mm' }}</strong></div>
            </div>
        </div>

    </div>
</div>

