<div class="container video-player">
    <br/>
    <div class="col-lg-8 player">
        <videogular vg-auto-play="pc.config.autoPlay" vg-player-ready="pc.onPlayerReady($API)" vg-complete="pc.onCompleteVideo()">
            <vg-media vg-src="pc.config.sources" vg-native-controls="false" vg-preload="pc.config.preload"></vg-media>

            <vg-controls vg-autohide="pc.config.sources[0].type.indexOf('audio') === -1 && pc.config.plugins.controls.autoHide" vg-autohide-time="pc.config.plugins.controls.autoHideTime">
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button ng-show="pc.config.sources[0].type.indexOf('audio') === -1"></vg-fullscreen-button>
                <div class='btn-video-share'><a ng-href="{{ pc.config.sources[0].src }}" class="ionicons ion-android-share"></a></div>
            </vg-controls>

            <vg-overlay-play></vg-overlay-play>

            <vg-poster vg-url='pc.config.plugins.poster'></vg-poster>
        </videogular>
    </div>
    <div class="playlist col-lg-4">
        <div class="row button-list">
            <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 text-center" ng-click="pc.reloadPlaylist()"><span class="ionicons ion-refresh"></span> Rafraichir</div>
            <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 text-center" ng-click="pc.removeAll ()"><span class="ionicons ion-trash-b"></span> Vider</div>
        </div>
        <div class="media clearfix"  ng-repeat="item in pc.playlist track by item.id" ng-class="{'isReading' : pc.currentVideo.id === item.id}">

            <button ng-click="pc.remove(item)" type="button" class="pull-right close"><span aria-hidden="true">&times;</span></button>

            <a class="pull-left cover" ng-click="pc.setVideo($index)">
                <img ng-src="{{item.cover.url}}" width="100" height="100" style="">
            </a>

            <div class="media-body">
                <p ng-click="pc.setVideo($index)" class="">{{ item.title }}</p>
            </div>
        </div>
        
    </div>

</div>