<br/>
<accordion close-others="true">
    <accordion-group heading="Podcast" is-open="true">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Titre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" ng-model="pec.podcast.title" required placeholder="Titre">
                </div>
            </div>
            <div class="form-group">
                <label for="url" class="col-sm-2 control-label">URL</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" id="url" ng-model="pec.podcast.url" required placeholder="url">
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox col-sm-offset-3">
                    <label>
                        <input type="checkbox" ng-model="pec.podcast.hasToBeDeleted"> Suppression Auto
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="url" class="col-sm-2 control-label">Tags</label>
                <div class="col-sm-10">
                    <tags-input ng-model="pec.podcast.tags" display-property="name" min-length="1" class="bootstrap" placeholder="Ajouter un tag">
                        <auto-complete source="pec.loadTags($query)" min-length="2"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="form-group">
                <label for="height" class="col-sm-2 control-label" >Type</label>
                <div class="col-sm-10" >
                    <select class="form-control" ng-model="pec.podcast.type">
                        <option value="BeInSports">Be In Sports</option>
                        <option value="CanalPlus">Canal+</option>
                        <option value="JeuxVideoCom">Jeux Video Com</option>
                        <option value="JeuxVideoFR">Jeux Video Fr</option>
                        <option value="Parleys">Parleys</option>
                        <option value="Pluzz">Pluzz</option>
                        <option value="RSS">RSS</option>
                        <option value="send">Send</option>
                        <option value="Youtube">Youtube</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="pec.save()" class="btn btn-default">Sauvegarder</button>
                </div>
            </div>
        </form>
    </accordion-group>
    <accordion-group heading="Cover">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="url" class="col-sm-2 control-label">URL</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" id="url" ng-model="pec.podcast.cover.url" required placeholder="url">
                </div>
            </div>
            <div class="form-group">
                <label for="width" class="col-sm-2 control-label">Lageur</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="width" ng-model="pec.podcast.cover.width" required placeholder="url">
                </div>
            </div>
            <div class="form-group">
                <label for="height" class="col-sm-2 control-label">Hauteur</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="height" ng-model="pec.podcast.cover.height" required placeholder="url">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="pec.save()" class="btn btn-default">Sauvegarder</button>
                </div>
            </div>
        </form>
    </accordion-group>
    <accordion-group heading="Actions">
        <button type="button" class="btn btn-warning" ng-click="pec.deletePodcast()">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
    </accordion-group>
</accordion>
