[Unit]
Description=Podcast Server H2 Database backup
After=podcast-server-database.service

[Service]
Type=oneshot
WorkingDirectory=/opt/h2/
ExecStart=/opt/h2/backup.sh

[Install]
WantedBy=multi-user.target