

<div class="container">
    <br/>
    <ol class="breadcrumb">
        <li><a href="/podcasts">Podcasts</a></li>
        <li><a class="active"> {{ pdc.podcast.title }}</a></li>
    </ol>

    <div>
        <div class="jumbotron podcast-details-header" ng-style="{ 'background-image' : 'url(\'' + pdc.podcast.cover.url + '\')'}">
            <div class="information-area">
                <div class="information-text">
                    <h3><strong>{{ pdc.podcast.title }}</strong></h3>
                    <p>{{ pdc.totalItems }} Episodes</p>
                </div>
                <div class="action-button pull-right">
                    <button ng-if="pdc.isUpdatable()" ng-click="pdc.refresh()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
                    <a type="button" class="btn btn-default" target="_self" ng-href="/api/podcasts/{{ pdc.podcast.id }}/rss"><span class="ionicons ion-social-rss"></span></a>
                </div>
            </div>
        </div>
    </div>
<br/>

<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">

    <uib-tabset>
        <uib-tab heading="{{ pdc.podcastTabs[0].heading }}" active="pdc.podcastTabs[0].active" >
            <podcast-items-list podcast="pdc.podcast" on-change-number-of-episodes="pdc.updateNumberOfEpisodes(num)"></podcast-items-list>
        </uib-tab>
        <uib-tab heading="{{ pdc.podcastTabs[1].heading }}" active="pdc.podcastTabs[1].active" >
            <podcast-edition podcast="pdc.podcast"></podcast-edition>
        </uib-tab>
        <uib-tab heading="{{ pdc.podcastTabs[2].heading }}" ng-if="!pdc.podcastTabs[2].disabled" active="pdc.podcastTabs[2].active" disable="pdc.podcastTabs[2].disabled">
            <podcast-upload podcast="pdc.podcast"></podcast-upload>
        </uib-tab>
        <uib-tab heading="{{ pdc.podcastTabs[3].heading }}" ng-if="!pdc.podcastTabs[3].disabled" active="pdc.podcastTabs[3].active" disable="pdc.podcastTabs[3].disabled" select="pdc.chartReflow()">
            <podcast-stats podcast="pdc.podcast"></podcast-stats>
        </uib-tab>
    </uib-tabset>


</div>
    </div>



