
<div class="container item-details">

    <br/>
    <ol class="breadcrumb">
        <li><a href="/podcasts">Podcasts</a></li>
        <li><a ng-href="/podcasts/{{ ::idc.item.podcast.id }}">{{ ::idc.item.podcast.title }}</a></li>
        <li class="active">{{ ::idc.item.title }}</li>
    </ol>

    <div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="thumbnail">
                <a ng-click="idc.play()">
                    <img class="center-block" ng-src="{{ ::idc.item.cover.url}}" width="200" height="200">
                </a>

                <div class="caption">

                    <div class="buttonList text-center">
                        <!-- Téléchargement en cours -->
                        <span ng-show="idc.item.status == 'STARTED' || idc.item.status == 'PAUSED'" >
                            <button ng-click="idc.toggleDownload(idc.item)" type="button" class="btn btn-primary "><i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pause"></i></button>
                            <button ng-click="idc.stopDownload(idc.item)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-stop"></span></button>
                        </span>

                        <!-- Lancer le téléchargement -->
                        <button ng-click="idc.download()" ng-show="(idc.item.status != 'STARTED' && idc.item.status != 'PAUSED' ) && !idc.item.isDownloaded" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span></button>

                        <a ng-click="idc.play()" ng-show="idc.item.isDownloaded" type="button" class="btn btn-success"><span class="ionicons ion-social-youtube"></span></a>

                        <!-- Add to Playlist -->
                        <a ng-show="idc.item.isDownloaded && !idc.isVideo()" ng-click="idc.toggleInPlaylist()" type="button" class="btn btn-primary">
                            <span ng-hide="idc.isInPlaylist()" class="glyphicon glyphicon-plus"></span>
                            <span ng-show="idc.isInPlaylist()" class="glyphicon glyphicon-minus"></span>
                        </a>

                        <a ng-show="idc.item.isDownloaded && idc.isVideo()" ng-click="idc.addToWatchList()" type="button" class="btn btn-primary">
                            <span class="fa fa-align-justify"></span>
                        </a>

                        <item-menu item="idc.item"
                                   local-read="true"
                                   delete-item="true"
                                   on-delete-item="idc.redirect()"
                                   on-line-read="true"
                                   reset-item="true"
                        >
                        </item-menu>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ ::idc.item.title }}</h3>
                </div>
                <div class="panel-body" ng-bind-html="::idc.item.description | cleanHtml"></div>
                <div class="panel-footer">Date de publication : <strong>{{::idc.item.pubDate | date : 'dd/MM/yyyy à HH:mm' }}</strong></div>
            </div>
        </div>

    </div>
</div>

