.ps .media-left,
.ps .media-right,
.ps .media-body {
  display: block;
}
.ps .media-body {
  width: auto;
}
.ps .grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.ps .no-grayscale {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}
@media screen and (min-width: 1200px) {
  .ps .center {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}
.ps .thumbnail {
  min-height: 263px;
}
@media (min-width: 992px) {
  .ps .thumbnail {
    min-height: 263px;
  }
}
@media (min-width: 1200px) {
  .ps .thumbnail {
    min-height: 263px;
  }
}
.ps .button-row {
  z-index: 1000;
}
.ps .listItems {
  list-style: none;
}
.ps .listItems li {
  clear: both;
  max-height: 100px;
  height: 100px;
  line-height: 25px;
}
.ps .listItems li img {
  float: left;
}
.ps .listItems li .description {
  padding-left: 25px;
  vertical-align: middle;
}
.ps .downloadingItems {
  list-style: none;
}
.ps .downloadingItems .progress {
  margin-top: 5px;
}
.ps .box {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}
.ps .box:hover {
  box-shadow: 0 0 15px 0 rgba(51, 122, 183, 0.5);
}
.ps .box .dropdown-toggle {
  color: black;
}
.ps .downloadList .media {
  background-color: white;
  margin-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.ps .downloadList .media * img {
  width: 100px;
  height: 90px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  object-fit: cover;
}
.ps .downloadList .media .media-heading {
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ps .downloadList .media .buttonList {
  padding-top: 24px;
}
.ps .downloadList .item-in-waiting-list {
  overflow: visible;
}
.ps .downloadList .item-in-waiting-list .btn {
  border: none;
}
.ps podcast-items-list .media {
  margin-left: 5px;
  margin-right: 5px;
  overflow: visible;
}
.ps podcast-items-list .media .media-heading {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ps podcast-items-list .media img {
  object-fit: cover;
}
.ps podcast-items-list .media .btn {
  border: none;
}
.ps podcast-items-list .media.ng-leave {
  -webkit-animation: fadeOutRight 0.5s;
  animation: fadeOutRight 0.5s;
}
.ps podcast-items-list .media.ng-enter {
  -webkit-animation: fadeInLeft 0.5s;
  animation: fadeInLeft 0.5s;
}
.ps .podcast-details-header {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 200px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ps .information-area {
  padding-top: 95px;
}
@media screen and (max-width: 768px) {
  .ps .information-area {
    padding-top: 115px;
  }
}
.ps .information-area .action-button {
  display: inline-block;
  padding: 6px;
}
.ps .information-area .information-text {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.58);
}
.ps .information-area .information-text h3,
.ps .information-area .information-text p {
  margin: 0;
}
.ps .upload-item .drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /*text-align: center;*/
}
.ps .upload-item .drop-box .upload-text {
  align-self: center;
}
.ps .upload-item .drop-box.dropping {
  background: #C7C7C7;
}
.ps .item-details * .btn-default.dropdown-toggle {
  border: none;
  color: black;
}
.ps .item-details .thumbnail img {
  min-height: 200px;
  object-fit: cover;
}
