# If you want to use Gradle Enterprise, set the following value to true
export GRADLE_ENTERPRISE_ENABLED=false

# URL of your Gradle Enterprise instance:
export GRADLE_ENTERPRISE_SERVER=https://gradle-enterprise.your-instance.com/

# If you want to use Gradle Enterprise Predictive Selection, set the following value to true
export PREDICTIVE_TEST_SELECTION_ENABLED=false
