
*.DS_Store
.idea/
lib/
*.iml
src/main/resources/application.properties
src/main/resources/application.yml
node_modules/
node/
node_tmp/
bower_components/
target/
.gradle/
build/
logs/
src/main/webapp