<!DOCTYPE html>
<html ng-app="psgp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Podcast Server</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/psgp.css" />
    <!--
    <link rel="stylesheet/less" type="text/css" href="css/psgp.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
    -->
</head>
<body  ng-controller="psgpCtrl as psgp">
<a href="https://github.com/davinkevin/Podcast-Server"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
<div class="jumbotron text-center">
    <h1>Podcast Server</h1>
    <p>All your podcasts available in one place... <strong>Your place !</strong></p>

    <carousel interval="psgp.interval">
        <slide ng-repeat="slide in psgp.slides" active="slide.active">
            <img ng-src="{{ ::slide.image }}" style="margin:auto; max-width: 700px; max-height: 400px; height: 400px">
            <p>{{ ::slide.text }}</p>
        </slide>
    </carousel>

</div>
<nav data-spy="affix" data-offset-top="638" data-offset-bottom="0" class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Podcast Server</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav text-center">
                <li>
                    <a href="#description">Description</a>
                </li>
                <li>
                    <a href="#installation">Installation</a>
                </li>
                <li>
                    <a href="#compatibility">Compatibility</a>
                </li>
                <li>
                    <a href="#framework">FrameWork</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div id="description">

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="img/html5css3.png" width="128px">
            </a>
            <div class="media-body">
                <h4 class="media-heading">One app to gather them all</h4>
                <div>
                    This web-application allow you to centralize and synchronize all your favorite podcast in one place inside your Home Network (or even in the cloud).
                </div>
                <div>
                    You can use all your regular devices with that application, or even the Web interface to show the last episode downloaded.
                </div>
                <div>
                    The Podcast Server application is used like a proxy to download the episode in one place and send them back to your device.
                </div>
            </div>
        </div>

        <div class="media">
            <a class="pull-right" href="#">
                <img class="media-object" width="128px" src="img/responsive.png">
            </a>
            <div class="media-body text-right">
                <h4 class="media-heading">Responsive Design</h4>
                <div>
                    You can use your favorite Podcast Player (iTunes, BeyondPod ...), but this application provides you a simple and intuitive interface to browse all the episodes of your Podcast
                </div>
                <div>
                    The interface is totally responsive, in order to presents you the best interface for your Phone, Tablet or Desktop.
                </div>
                <div>
                    All the screens are totally dynamic, based on Web-socket. You don't need to refresh the screen to see the latest information
                </div>
            </div>
        </div>

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="img/opensource.png" width="128">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Totally Open-Source</h4>
                <div>
                    This developpement is initialised by myself (Davin Kevin) and I really want to share this app with all people who, like me, need to centralize their Podcast (exclusively because I have a low bandwidth and a lot of device and I don't want to download episode over and over again).
                </div>
                <div>
                    I spend my (free) time to improve this application, but if you think you can help (adding Worker, improving IHM and other), I encourage you to fork this project !
                </div>
            </div>
        </div>
    </div>
    <div id="installation">
        <h1 class="page-header">Installation</h1>
        <p>This application is built with Maven (maybe Gradle soon) and uses a lot of embeddebale stack (Embedded Database, Embedded Container, Embedded Message Queuing Server...) limiting the dependancy...</p>
        <p>So, to test the application you just have to clone the repo and launch it with the embedded Tomcat Server</p>
        <pre>
$ git clone https://github.com/davinkevin/Podcast-Server.git
$ cd Podcast-Server/ && mvn clean install && cd target
$ java -jar Podcast-Server.jar</pre>
        <p>If you want to tweak the application, you have to create an application.properties (or yml) (based upon <a href="https://github.com/davinkevin/Podcast-Server/blob/master/backend/src/main/resources/application.example.yml">application.example.yml</a> template) to change the default value of the application</p>
        <pre>
spring :
    datasource:
        url: jdbc:h2:exampledb
        username: foo
        password: bar
        driver-class-name: org.h2.Driver
        ...</pre>
    </div>

    <div id="compatibility">
        <h1 class="page-header">Compatibility</h1>
        <p>This application used a concept of "Worker". A worker is a module whose can update and download podcast from different sources. RSS is the standard sources for Podcast, but you can use Youtube Channel or Canal+ replay TV as podcast.</p>

        <div class="row text-center">

            <div class="col-sm-4 col-md-3 support" ng-repeat="support in psgp.supports">
                <div class="thumbnail">
                    <img width="64" height="64" ng-src="{{ ::support.image }}">
                    <div class="caption">
                        <h3>{{ ::support.title }}</h3>
                        <p>{{ ::support.description }}</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="framework" class="clearfix">
        <h1>Framework</h1>
        <p>In order to build this App, I use a lot of open-sources framework, you can find a list and why I use them thereafter</p>
        <div class="col-lg-4">
            <ul class="list-group">
                <li ng-repeat="framework in psgp.frameworkList" ng-mouseover="psgp.frameworkHover(framework)" class="list-group-item" ng-bind-html="psgp.getAsHTML(framework.name)"></li>
            </ul>
        </div>
        <div class="col-lg-8 frameworkdescription">
            <a ng-href="{{ psgp.currentFramework.link }}" class="col-lg-5">
                <img ng-src="{{ psgp.currentFramework.image }}" width="150" class="col-lg-6"></img>
            </a>
            <div class="col-lg-7">
                <p ng-bind-html="psgp.getAsHTML(psgp.currentFramework.description)"></p>
            </div>
        </div>
    </div>

    <div id="sponsors" class="clearfix">
        <h1>Sponsors</h1>
        <p>Some company provide to the Podcast-Server team great tools to work everyday</p>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="img/sponsors/intellij.png" alt="intelliJ">
                    <div class="caption">
                        <h3>IntelliJ</h3>
                        <p>JetBrains supports open source projects with its products and makes professional software development a more productive and enjoyable experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="img/sponsors/yourkit.png" alt="yourkit">
                    <div class="caption">
                        <h3>YourKit</h3>
                        <p>YourKit supports open source projects with its full-featured Java Profiler.
                            YourKit, LLC is the creator of <a href="https://www.yourkit.com/java/profiler/index.jsp">YourKit Java Profiler</a>
                            and <a href="https://www.yourkit.com/.net/profiler/index.jsp">YourKit .NET Profiler</a>,
                            innovative and intelligent tools for profiling Java and .NET applications.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="moretocome">
        <h1>More to come...</h1>
        <p>I really want to improve this application, so this enhancement is a kind of roadmap...</p>
        <ul>
            <li>Keep the framework up-to-date (Spring, Hibernate... )</li>
            <li>Create new Worker / Downloader to support other source and other protocol</li>
            <li>Anticipate the migration to Angular 2 by using better front-end tools | elements ( JSPM, Decorator...)</li>
            <li>And more... (keeping this page updated !!) --> <a href="https://github.com/davinkevin/Podcast-Server/issues">Goto Issue List</a></li>
            <li><span class="glyphicon glyphicon-ok"></span><b> Done  </b>Adding more jUnit test = <a href="https://coveralls.io/github/davinkevin/Podcast-Server">100% Coverage</a></li>
            <li><span class="glyphicon glyphicon-ok"></span><b> Done  </b><del>Data-visualisation of the podcast Server (number of download, by type, by podcast...</del></li>
            <li><span class="glyphicon glyphicon-ok"></span><b> Done  </b><del>Adding a video player and a playlist manager</del></li>
            <li><span class="glyphicon glyphicon-ok"></span><b> Done  </b><del>Adding a search engine, based on Hibernate Search</del></li>
            <li><span class="glyphicon glyphicon-ok"></span><b> Done  </b><del>Improving the IHM with AngularJS Animation and better presentation</del></li>
            <li><span class="glyphicon glyphicon-ok"></span><b> Done  </b> <del>Add some kind of tags on the podcast, to filter the main view by simple / multiple tags (usefull if you have like me a lots of podcast)</del></li>
        </ul>
    </div>

</div>

<div class="footer">
    <div class="container">
        <p class="text-muted">Hosted on GitHub - All trademarks mentioned herein belong to their respective owners</p>
    </div>
</div>


<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
<script>
    angular.module('psgp', ['ui.bootstrap'])
            .controller('psgpCtrl', function ($sce) {
                var vm = this;

                vm.frameworkList = [
                    { id: "java8", name: "Java 8", image: "img/framework/java8.png", description: '<p>Java 8 est la dernière version de Java et offre de nouvelles fonctionnalités, des performances accrues et des corrections de bug pour améliorer l\'efficacité de développement et d\'exécution des programmes Java</p>', link : "https://www.java.com/fr/download/faq/java8.xml" },
                    { id: "h2", name: "H2 Database", image: "img/framework/h2.png", description: '<ul><li>Very fast, open source, JDBC API </li><li>Embedded and server modes; in-memory databases </li><li>Browser based Console application </li><li>Small footprint: around 1.5 MB jar file size </li></ul>', link : "http://www.h2database.com/" },
                    { id: "hibernate", name: "Hibernate ORM", image: "img/framework/hibernate.png", description: '<p>Hibernate ORM enables developers to more easily write applications whose data outlives the application process. As an Object/Relational Mapping (ORM) framework, Hibernate is concerned with data persistence as it applies to relational databases (via JDBC). Unfamilar with the notion of ORM? <a href="/orm/what-is-an-orm/">Read here</a>.</p>', link : "http://hibernate.org/orm/" },
                    { id: "hibernate-search", name:"Hibernate Search", image:"img/framework/hibernate-search.png", description: '<p>Hibernate Search transparently indexes your objects and offers fast regular, full-text and geolocation search. Ease of use and easy clustering are core</p>'},
                    { id: "springBoot", name: "Spring Boot", image: "img/framework/spring-boot.png", description: '<p>Spring Boot makes it easy to create stand-alone, production-grade Spring based Applications that you can "just run". We take an opinionated view of the Spring platform and third-party libraries so you can get started with minimum fuss. Most Spring Boot applications need very little Spring configuration</p>', link : "http://spring.io/" },
                    { id: "es2015", name: "EcmasScript 2015+", image: "img/framework/ecmascript2015.png", description: 'In the July 2008 announcement, Eich also stated that the ECMAScript 4 proposal would be superseded by a new project, code-named ECMAScript Harmony. ECMAScript Harmony names the agreed upon design trajectory of post-ES5 editions. It will include syntactic extensions, but the changes will be more modest than ECMAScript 4 in both semantic and syntactic innovation. Packages, namespaces, and early binding from ECMAScript 4 are no longer included for planned releases. In addition, other goals and ideas from ECMAScript 4 are being rephrased to keep consensus in the committee; these include a notion of classes based on ECMAScript, 5th Edition (being an update to ECMAScript, 3rd edition). Drafts of ES.next have been published periodically since July 2011 and was finalized in June 2015', link : "https://en.wikipedia.org/wiki/ECMAScript" },
                    { id: "angular", name: "AngularJS", image: "img/framework/angular.png", description: 'HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.', link : "http://angularjs.org/" },
                    { id: "jspm", name: "JSPM", image: "img/framework/jspm.png", description: '<ul><li><p>jspm is a package manager for the <a href="https://github.com/systemjs/systemjs">SystemJS universal module loader</a>, built on top of the dynamic <a href="https://github.com/ModuleLoader/es6-module-loader">ES6 module loader</a></p></li><li><p>Load any module format (ES6, AMD, CommonJS and globals) directly from any registry such as <code>npm</code> and <code>GitHub</code> with flat versioned dependency management. Any custom registry endpoints can be created through the Registry API.</p></li><li><p>For development, load modules as separate files with ES6 and plugins compiled in the browser.</p></li><li><p>For production (or development too), optimize into a bundle, layered bundles or a self-executing bundle with a single command.</p></li></ul>', link : "http://jspm.io/" },
                    { id: "bootstrap", name: "Twitter Bootstrap", image: "img/framework/TwitterBootstrap.png", description: '<h2 class="bs-docs-featurette-title">Designed for everyone, everywhere.</h2><p class="lead">Bootstrap makes front-end web development faster and easier. It\'s made for folks of all skill levels, devices of all shapes, and projects of all sizes.</p>', link : "http://getbootstrap.com/" }
                ];

                vm.frameworkHover = function(framework) {
                    vm.currentFramework = framework;
                };

                vm.frameworkHover(vm.frameworkList[0]);

                vm.getAsHTML = function(text) {
                    return $sce.trustAsHtml(text);
                };

                vm.interval = 5000;
                vm.slides = [
                    {image : "img/slider/01_Home.png", text : 'Listing all available items' },
                    {image : "img/slider/02_Download.png", text : 'Show current downloading item and progression'},
                    {image : "img/slider/03_PodcastList.mobile.png", text: 'Adaptive interface for mobile' },
                    {image : "img/slider/03_PodcastList.png", text :'Show all podcast registered'},
                    {image : "img/slider/04_PodcastDetails.png", text:'Details of a podcast, with all its items' },
                    {image : "img/slider/05_ItemSearch.png", text:'Search items by keyword, Tags and others...' },
                    {image : "img/slider/06_ItemDetails.png", text:'Details of an item' },
                    {image : "img/slider/07_ItemPlayer.png", text:'Launch video directly inside your browser' },
                    {image : "img/slider/08_Playlist.png", text:'You can handle playlist and use a global player' },
                    {image : "img/slider/09_PlayList.mobile.png", text:'Playlist and player also compatibile on mobile' },
                    {image : "img/slider/10_Stats_of_podcast.png", text:'See podcast stats on update frequency' },
                    {image : "img/slider/11_Stats_global.png", text:'See stats by provider' },
                    {image : "img/slider/12_player_inline.png", text:'Listen audio item while navigating on the application' }
                ];

                vm.supports = [
                    { title : "RSS", description : "The standard Really Simple Syndication Worker, compatible with RSS / ATOM and iTunes Podcast", image : "img/worker/rss.png"},
                    { title : "Youtube", description : "You can transform your favorite Channel or Playlist into a Podcast. Developpement based on Axet/vget", image : "img/worker/youtube.png"},
                    { title : "Dailymotion", description : "A worker dedicated to the Dailymotion Website", image : "img/worker/dailymotion.png"},
                    { title : "TF1Replay", description : "All the show coming from the TF1 Group (TF1, TMC, NT1, HD1 and Xtra)", image : "img/worker/tf1.png"},
                    { title : "Pluzz", description : "All the public replay platform (France 2, France 3, France 4, France 5, France Ô, 1er", image : "img/worker/pluzz.png"},
                    { title : "Canal+", description : "A worker dedicated to the Canal+ Website, working on the Show URL", image : "img/worker/canalplus.png"},
                    { title : "6Play", description : "All channels from M6 Group and more", image : "img/worker/6play.png"},
                    { title : "BeInSport", description : "A worker dedicated to the show available on the BeInSport France Channel. A little part of the show is now compatible", image : "img/worker/beinsport.png"},
                    { title : "JeuxVideo.com", description : "A special worker for catching the video from the video game website JeuxVideo.com", image : "img/worker/jeuxvideocom.jpg"},
                    { title : "Upload", description : "If you create your own podcast (by ripping some Radio Stream for example), your can upload episodes directly on your Podcast Server.", image : "img/worker/upload.png"}
                ];

            });

</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61815668-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>