.player-inline-full .spacer {
  height: 70px;
}
.player-inline-full .player-inline {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background: rgba(60, 56, 56, 0.96);
  /*background:ghostwhite;*/
  z-index: 100;
}
.player-inline-full .player-inline .current-cover img {
  width: 70px;
  height: 70px;
}
.player-inline-full .player-inline .poster {
  padding: 0;
}
.player-inline-full .player-inline .player {
  width: calc(100% - 70px);
  padding: 0;
}
.player-inline-full .player-inline .player .action-button-row {
  padding-top: 10px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.player-inline-full .player-inline .player .action-button-row .btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 5px 0 6px 3px;
  font-size: 21px;
  line-height: 1.42;
  border-radius: 25px;
}
.player-inline-full .player-inline .player .action-button-row .btn.prev,
.player-inline-full .player-inline .player .action-button-row .btn.next,
.player-inline-full .player-inline .player .action-button-row .btn.clean,
.player-inline-full .player-inline .player .action-button-row .btn.playlist {
  margin: 0 8px;
  padding: 0 0;
  color: ghostwhite;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 17px;
  line-height: 1.42;
  border-radius: 25px;
}
.player-inline-full .player-inline .player .action-button-row .dropdown-menu {
  width: 450px;
}
.player-inline-full .player-inline .player .action-button-row .dropdown-menu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 3px 10px;
}
.player-inline-full .player-inline .player .action-button-row .dropdown-menu a .playlist-cover {
  width: 48px;
  height: 48px;
}
.player-inline-full .player-inline .player .action-button-row .dropdown-menu a .playlist-title {
  padding-left: 16px;
  width: 360px;
}
.player-inline-full .player-inline .player .action-button-row .dropdown-menu a.currently-playing {
  background-color: #d9edf7;
}
.player-inline-full .player-inline videogular vg-scrub-bar [role=slider],
.player-inline-full .player-inline [videogular] vg-scrub-bar [role=slider] {
  margin-top: 12px;
  margin-bottom: 12px;
}
.player-inline-full .player-inline videogular vg-controls {
  height: 30px;
  top: calc(70%);
}
.player-inline-full .player-inline videogular vg-controls .controls-container {
  -webkit-animation: none !important;
  -webkit-animation-fill-mode: none !important;
  -webkit-animation-iteration-count: 0 !important;
}
.player-inline-full .player-inline videogular vg-controls .controls-container,
.player-inline-full .player-inline [videogular] vg-controls .controls-container {
  height: 30px;
  background-color: rgba(255, 255, 255, 0) !important;
}
