vg-link {
  display: table-cell;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
vg-link a,
vg-link a:hover,
vg-link a:visited {
  color: white;
  text-decoration: none;
}
