<div class="container downloadList">

    <div class="row form-horizontal" style="margin-top: 15px;">
        <div class="col-xs-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-offset-1 form-group col-md-6 col-lg-6 col-xs-6 col-sm-6 ">
            <label class="pull-left control-label">Simultaneous Downloads</label>
            <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
                <input ng-model="dc.numberOfSimDl" ng-change="dc.updateNumberOfSimDl(dc.numberOfSimDl)" type="number" class="form-control" placeholder="Number of download">
            </div>
        </div>
        <div class="btn-group pull-right">
            <button ng-click="dc.restartAllDownload()" type="button" class="btn btn-default">Start</button>
            <button ng-click="dc.pauseAllDownload()" type="button" class="btn btn-default">Pause</button>
            <button ng-click="dc.stopAllDownload()" type="button" class="btn btn-default">Stop</button>
        </div>
    </div>
    <div class="media" ng-repeat="item in dc.items | orderBy:'-progression' track by item.id" >

        <div class="buttonList pull-right">
            <br/>
            <button ng-click="dc.toggleDownload(item)" type="button" class="btn btn-sm" ng-class="{'btn-primary' : item.status === 'STARTED', 'btn-warning' : item.status === 'PAUSED'}"><i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pause"></i></button>
            <button ng-click="dc.stopDownload(item)" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-stop"></span></button>
        </div>

        <a class="pull-left" ng-href="{{ '/podcasts/' + item.podcastId + '/items/' + item.id }}">
            <img ng-src="{{::item.cover.url}}" >
        </a>

        <div class="media-body">
            <h5 class="media-heading">{{ ::item.title | characters:100}}</h5>
            <br/>
            <uib-progressbar class="progress-striped active" animate="false" value="item.progression" type="{{ dc.getTypeFromStatus(item) }}">{{item.progression}}%</uib-progressbar>
        </div>
    </div>


    <br/>

    <uib-accordion close-others="true" ng-show="dc.waitingItems.length > 0">
        <uib-accordion-group is-open="true">
            <uib-accordion-heading>
                Waiting list <span class="pull-right badge">{{ dc.waitingItems.length }}</span>
            </uib-accordion-heading>
            <div class="media item-in-waiting-list clearfix"  ng-repeat="item in dc.waitingItems track by item.id"  >
                <div class="pull-right">
                    <br/>
                    <button ng-click="dc.removeFromQueue(item)" type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-minus"></i></button>
                    <button ng-click="dc.dontDonwload(item)" type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-stop"></i></button>
                    <div class="btn-group" uib-dropdown is-open="isopen" ng-show="dc.waitingItems.length > 1">
                        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle><i class="glyphicon glyphicon-option-vertical"></i></button>
                        <ul class="uib-dropdown-menu" role="menu">
                            <li ng-hide="$first"><a ng-click="dc.moveInWaitingList(item, 0)"><span class="fa fa-angle-double-up"></span> First</a></li>
                            <li><a ng-hide="$first || $index === 1" ng-click="dc.moveInWaitingList(item, $index-1)"><span class="fa fa-angle-up"></span> Move-up</a></li>
                            <li><a ng-hide="$last || $index === dc.waitingItems.length-2" ng-click="dc.moveInWaitingList(item, $index+1)"><span class="fa fa-angle-down"></span> Move-down</a></li>
                            <li><a ng-hide="$last" ng-click="dc.moveInWaitingList(item, dc.waitingItems.length-1   )"><span class="fa fa-angle-double-down"></span> Last</a></li>
                        </ul>
                    </div>
                </div>

                <a class="pull-left" ng-href="{{ '/podcasts/' + item.podcastId + '/items/' + item.id }}">
                    <img ng-src="{{::item.cover.url}}">
                </a>

                <div class="media-body">
                    <h5 class="media-heading">{{::item.title | characters:100}}</h5>
                </div>
            </div>

        </uib-accordion-group>
    </uib-accordion>


</div>