
<div class="container item-search-list" ng-swipe-right="isc.swipePage(-1)" ng-swipe-left="isc.swipePage(1)">
    <!--<div class="col-xs-11 col-sm-11 col-lg-11 col-md-11">-->

    <div class="form-inline search-bar row" ng-show="isc.search">
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="isc.searchParameters.q" placeholder="Global Search" ng-change="isc.resetSearch()" ng-model-options="{ debounce: 500 }">
                <span class="input-group-addon" ng-click="isc.searchParameters.q = ''; isc.resetSearch()"><i class="ionicons ion-android-cancel"></i></span>
            </div>
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3">
            <div class="input-group input-group-tags-input">
                <tags-input placeholder="Tags" add-from-autocomplete-only="true" ng-model="isc.searchParameters.tags" display-property="name" class="bootstrap" on-tag-added="isc.resetSearch()" on-tag-removed="isc.resetSearch()">
                    <auto-complete source="isc.loadTags($query)" min-length="2"></auto-complete>
                </tags-input>
                <span class="input-group-addon" ng-click="isc.searchParameters.tags = []; isc.resetSearch()"><i class="ionicons ion-android-cancel"></i></span>
            </div>
        </div>

        <div class="form-group col-sm-3 col-md-2 col-lg-2">
            <select class="form-control" ng-model="isc.searchParameters.status" ng-change="isc.resetSearch()">
                <option value="all">All</option>
                <option value="downloaded">Downloaded</option>
                <option value="not_downloaded">Not Downloaded</option>
            </select>
        </div>

        <div class="form-group col-sm-3 col-md-2 col-lg-2">
            <select class="form-control" ng-model="isc.searchParameters.sort[0].property" ng-change="isc.resetSearch()">
                <option value="pertinence">Relevance</option>
                <option value="pubDate">Publication Date</option>
                <option value="downloadDate">Download Date</option>
            </select>
        </div>

        <div class="form-group col-sm-3 col-md-2 col-lg-2">
            <select class="form-control" ng-model="isc.searchParameters.sort[0].direction" ng-change="isc.resetSearch()">
                <option value="DESC">Descending</option>
                <option value="ASC">Ascending</option>
            </select>
        </div>
    </div>

    <div class="text-center row" >
        <uib-pagination ng-show="isc.totalPages > 1" items-per-page="12" max-size="10" boundary-links="true" total-items="isc.totalItems" ng-model="isc.currentPage" ng-change="isc.changePage()" class="pagination pagination-centered" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        <a ng-click="isc.search = !isc.search;" ng-class="{'btn-primary' : isc.search, 'btn-default' : !isc.search}" class="btn pull-right search-button"><i class="glyphicon glyphicon-search"></i></a>
    </div>
    <div class="row">
        <div ng-repeat="item in isc.items track by item.id" class="col-lg-3  col-md-3 col-sm-4 col-xs-6 item-in-list">
            <div class="box">
                <div class="more-button">
                    <item-menu
                            item="::(item)"
                            download-control="true"
                            read-in-player="true"
                            playlist-control="'auto'"
                            watchlist-control="'auto'"
                            delete-item="true"
                            on-delete-item="isc.changePage()"
                            reset-item="true"
                    >
                    </item-menu>
                </div>
                <div class="cover" ng-style="::{ 'background-image' : 'url(\''+ item.cover.url + '\')'}" ng-class="{'grayscale' : (!item.isDownloaded) }">
                    <a class="overlay-main-button no-grayscale" ng-click="isc.play(item)" >
                        <span ng-class="{'glyphicon-globe' : (!item.isDownloaded), 'glyphicon-play' : (item.isDownloaded)}" class="glyphicon "></span>
                    </a>
                </div>
                <div class="text-center clearfix itemTitle center" >
                    <a ng-href="{{ ::'/podcasts/' + item.podcastId + '/items/' + item.id }}" tooltip-append-to-body="true" uib-tooltip="{{ ::item.title }}" tooltip-placement="bottom" >
                        {{ ::item.title | characters:30 }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center row" ng-show="isc.totalPages > 1">
        <uib-pagination items-per-page="12" max-size="10" boundary-links="true" total-items="isc.totalItems" ng-model="isc.currentPage" ng-change="isc.changePage()" class="pagination pagination-centered" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
</div>
