<br/>
<div ng-swipe-right="pic.swipePage(-1)" ng-swipe-left="pic.swipePage(1)">
    <div class="media clearfix"  ng-repeat="item in pic.podcast.items | orderBy:'-pubDate' track by item.id">
        <div class="buttonList pull-right">
            <!-- Téléchargement en cours -->
            <span ng-show="item.status == 'STARTED' || item.status == 'PAUSED'" >
                <button ng-click="pic.toggleDownload(item)" type="button" class="btn btn-primary "><i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pause"></i></button>
                <button ng-click="pic.stopDownload(item)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-stop"></span></button>
            </span>

            <!-- Lancer le téléchargement -->
            <button ng-click="pic.download(item)" ng-show="(item.status != 'STARTED' && item.status != 'PAUSED' ) && !item.isDownloaded" type="button" class="btn btn-primary hidden-xs"><span class="glyphicon glyphicon-save"></span></button>

            <!-- Lire dans le player -->
            <a ng-click="pic.play(item)" ng-show="item.isDownloaded" type="button" class="btn btn-success hidden-xs"><span class="ionicons ion-social-youtube"></span></a>

            <!-- Supprimer l'item -->
            <button ng-click="pic.remove(item)" ng-show="(item.status != 'STARTED' && item.status != 'PAUSED' )" type="button" class="btn btn-danger hidden-xs"><span class="glyphicon glyphicon-remove"></span></button>

            <!-- Menu complémentaire -->
            <item-menu class="hidden-xs"
                       item="item"
                       local-read="true"
                       on-line-read="true"
                       playlist-control="'auto'"
                       watchlist-control="'auto'"
                       reset-item="true"
            >
            </item-menu>
        </div>

        <a class="pull-left" ng-href="{{::'/podcasts/' + pic.podcast.id + '/items/' + item.id }}">
            <img ng-src="{{ ::item.cover.url }}" width="100" height="100" style="">
        </a>

        <div class="media-body">
            <h4 class="media-heading">{{ ::item.title }}</h4>
            <p class="description hidden-xs hidden-sm branch-name">{{ ::item.description | htmlToPlaintext | characters : 130 }}</p>
            <p><strong>{{ ::item.pubDate | date : 'dd/MM/yyyy à HH:mm' }}</strong></p>
        </div>
    </div>

    <div ng-show="pic.totalItems > pic.itemPerPage" class="text-center">
        <uib-pagination items-per-page="pic.itemPerPage" max-size="10" boundary-links="true" total-items="pic.totalItems" ng-model="pic.currentPage" ng-change="pic.loadPage()" class="pagination pagination-centered" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
</div>

        