<!--<div class="jumbotron">-->
    <!--<div class="container">-->
        <!--<h1>Téléchargement</h1>-->
    <!--</div>-->
<!--</div>-->

<div class="container downloadList">

    <div class="row form-horizontal" style="margin-top: 15px;">
        <div class="col-xs-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-offset-1 form-group col-md-6 col-lg-6 col-xs-6 col-sm-6 ">
            <label class="pull-left control-label">Téléchargements simultanés</label>
            <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
                <input ng-model="numberOfSimDl" ng-change="updateNumberOfSimDl(numberOfSimDl)" type="number" class="form-control" placeholder="Number of download">
            </div>
        </div>
        <span>
            <a ng-show="activeNotification.state" ng-click="activeNotification.manuallyactivate()" class="btn btn-primary">Activer Notification</a>
        </span>
        <div class="btn-group pull-right">
            <button ng-click="restartAllDownload()" type="button" class="btn btn-default">Démarrer</button>
            <button ng-click="pauseAllDownload()" type="button" class="btn btn-default">Pause</button>
            <button ng-click="stopAllDownload()" type="button" class="btn btn-default">Stop</button>
        </div>
    </div>
    <div class="media"  ng-repeat="item in items track by item.id | orderBy:progression" >

        <div class="buttonList pull-right">
            <br/>
            <button ng-click="toggleDownload(item)" type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pause"></i></button>
            <button ng-click="stopDownload(item)" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-stop"></span></button>
        </div>

        <a class="pull-left" ng-href="#/item/{{item.id}}">
            <img ng-src="{{item.cover.url}}" width="100" height="100" style="">
        </a>

        <div class="media-body">
            <h5 class="media-heading">{{item.title | characters:100}}</h5>
            <br/>
            <progressbar class="progress-striped active" animate="false" value="item.progression" type="{{ getTypeFromStatus(item) }}">{{item.progression}}%</progressbar>
        </div>
    </div>


    <br/>

    <accordion close-others="true">
        <accordion-group heading="Liste d'attente" is-open="false">

            <div class="media"  ng-repeat="item in waitingitems" >

                <div class="pull-right">
                    <button ng-click="removeFromQueue(item)" type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-minus"></i></button>
                    <button ng-click="dontDonwload(item)" type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-stop"></i></button>
                </div>

                <a class="pull-left" ng-href="#/item/{{item.id}}">
                    <img ng-src="{{item.cover.url}}" width="100" height="100" style="">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">{{item.title | characters:100}}</h4>
                </div>
            </div>

        </accordion-group>
    </accordion>


</div>