<div class="container">
    <!--<div class="col-xs-11 col-sm-11 col-lg-11 col-md-11">-->
        <div ng-repeat="item in items" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 itemInList">
            <div class="box">
                <div class="">
                    <img ng-src="{{ item.cover.url }}" alt="" class="img-rounded img-responsive" />
                </div>
                <div class="text-center clearfix itemTitle" >
                    <p>
                        {{ item.title }}
                    </p>
                </div>
                <div class="text-center row-button">
                    <button ng-click="download(item)" ng-if="item.localUrl == null" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span></button>
                    <a href="{{ item.url }}" ng-if="item.localUrl == null" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-globe"></span></a>
                    <a href="{{ item.localUrl }}" ng-if="item.localUrl != null" type="button" class="btn btn-success"><span class="glyphicon glyphicon-play"></span></a>
                    <button ng-click="remove(item)" ng-if="item.localUrl != null" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </div>
    <!--</div>-->
    <div class="text-center">
        <pagination items-per-page="12" max-size="10" boundary-links="true" total-items="totalItems" page="currentPage" class="pagination pagination-centered" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>
