
<div class="container item-details">

    <br/>
    <ol class="breadcrumb">
        <li><a href="/#/podcasts">Podcasts</a></li>
        <li><a ng-href="/#/podcast/{{ item.podcast.id }}"> {{ item.podcast.title }}</a></li>
        <li class="active">{{ item.title }}</li>
    </ol>

    <div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="thumbnail">
                <a ng-href="{{ item.proxyURL || item.url }}">
                    <img class="center-block" ng-src="{{item.cover.url}}" width="200" height="200">
                </a>

                <div class="caption">

                    <div class="buttonList text-center">
                        <!-- Téléchargement en cours -->
                        <span ng-show="item.status == 'Started' || item.status == 'Paused'" >
                            <button ng-click="toggleDownload(item)" type="button" class="btn btn-primary "><i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pause"></i></button>
                            <button ng-click="stopDownload(item)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-stop"></span></button>
                        </span>

                        <!-- Lancer le téléchargement -->
                        <button ng-click="item.download()" ng-show="(item.status != 'Started' && item.status != 'Paused' ) && !item.isDownloaded" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span></button>

                        <a ng-href="/#/podcast/{{ item.podcast.id }}/item/{{ item.id }}/play" ng-show="item.isDownloaded" type="button" class="btn btn-success"><span class="ionicons ion-social-youtube"></span></a>

                        <!-- Add to Playlist -->
                        <a ng-show="item.isDownloaded" ng-click="toggleInPlaylist()" type="button" class="btn btn-primary">
                            <span ng-hide="isInPlaylist()" class="glyphicon glyphicon-plus"></span>
                            <span ng-show="isInPlaylist()" class="glyphicon glyphicon-minus"></span>
                        </a>

                        <div class="btn-group" dropdown is-open="isopen">
                            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle><i class="ionicons ion-android-more"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li ng-show="item.isDownloaded"><a ng-href="{{ item.proxyURL }}"><span class="glyphicon glyphicon-play"></span> Lire</a></li>
                                <li><a ng-click="remove(item)" ng-show="(item.status != 'Started' && item.status != 'Paused' )"><span class="glyphicon glyphicon-remove"></span> Retirer</a></li>
                                <li><a ng-click="reset(item)"><span class="glyphicon glyphicon-repeat"></span> Reset</a></li>
                                <li><a ng-href="{{ item.url }}"><span class="glyphicon glyphicon-globe"></span> Lire en ligne</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ item.title }}</h3>
                </div>
                <div class="panel-body">
                    {{ item.description | htmlToPlaintext }}
                </div>
                <div class="panel-footer">Date de publication : <strong>{{item.pubdate | date : 'dd/MM/yyyy à HH:mm' }}</strong></div>
            </div>
        </div>

    </div>
</div>

