<div class="container video-player">
    <br/>
    <div class="col-lg-8 player">
        <videogular vg-theme="controller.config.theme.url" vg-player-ready="pc.onPlayerReady" vg-complete="pc.onCompleteVideo">
            <vg-video vg-src="pc.config.sources" vg-native-controls="false" vg-preload="pc.config.preload"></vg-video>

            <vg-controls vg-autohide="pc.config.sources[0].type.indexOf('audio') === -1" vg-autohide-time="pc.config.plugins.controls.autoHideTime">
                <vg-play-pause-button></vg-play-pause-button>
                <vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
                <vg-scrubBar>
                    <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
                </vg-scrubBar>
                <vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
                <vg-volume>
                    <vg-mutebutton></vg-mutebutton>
                    <vg-volumebar></vg-volumebar>
                </vg-volume>
                <vg-fullscreenButton ng-show="pc.config.sources[0].type.indexOf('audio') === -1"></vg-fullscreenButton>
                <div class='btn-video-share'><a ng-href="{{ pc.config.sources[0].src }}" class="ionicons ion-android-share"></a></div>
            </vg-controls>

            <vg-overlay-play></vg-overlay-play>

            <vg-poster-image vg-url='pc.config.plugins.poster'></vg-poster-image>
        </videogular>
    </div>
    <div class="playlist col-lg-4">
        <div class="row button-list">
            <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 text-center" ng-click="pc.reloadPlaylist()"><span class="ionicons ion-refresh"></span> Rafraichir</div>
            <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 text-center" ng-click="pc.removeAll ()"><span class="ionicons ion-trash-b"></span> Vider</div>
        </div>
        <div class="media clearfix"  ng-repeat="item in pc.playlist track by item.id" ng-class="{'isReading' : pc.currentVideo === $index}">

            <button ng-click="pc.remove(item)" type="button" class="pull-right close"><span aria-hidden="true">&times;</span></button>

            <a class="pull-left cover" ng-click="pc.setVideo($index)">
                <img ng-src="{{item.cover.url}}" width="100" height="100" style="">
            </a>

            <div class="media-body">
                <p ng-click="pc.setVideo($index)" class="">{{ item.title }}</p>
            </div>
        </div>
        
    </div>

</div>