<br xmlns="http://www.w3.org/1999/html"/>
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="thumbnail">
        <img ng-src="{{podcast.cover.url}}" width="{{podcast.cover.width}}" height="{{podcast.cover.height}}" alt="">
        <div class="caption">
            <h5 class="text-center "><strong>{{ podcast.title }}</strong></h5>
            <p class="text-center">Nombre d'épisode : {{podcast.items.length }}</p>
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center">
                <button ng-click="refresh()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
                <a type="button" class="btn btn-default" href="/api/podcast/{{ podcast.id }}/rss" target="_blank">RSS</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8 col-xs-12 col-sm-12 col-lg-8">

    <tabset>
        <tab heading="Episodes">
            <br/>

                <div class="media"  ng-repeat="item in podcast.items | orderBy:pubdate">

                    <div class="buttonList pull-right">
                        <!-- Téléchargement en cours -->
                        <span ng-if="item.status == 'Started' || item.status == 'Paused'" >
                            <button ng-click="toggleDownload(item)" type="button" class="btn btn-primary "><i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pause"></i></button>
                            <button ng-click="stopDownload(item)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-stop"></span></button>
                        </span>

                        <!-- Lancer le téléchargement -->
                        <button ng-click="download(item)" ng-if="(item.status != 'Started' && item.status != 'Paused' ) && item.localUrl == null " type="button" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span></button>

                        <!-- Accéder au fichier -->
                        <a href="{{ item.url }}" ng-if="item.localUrl == null" type="button" class="btn btn-info"><span class="glyphicon glyphicon-globe"></span></a>
                        <a href="{{ item.localUrl }}" ng-if="item.localUrl != null" type="button" class="btn btn-success"><span class="glyphicon glyphicon-play"></span></a>

                        <!-- Supprimer l'item -->
                        <button ng-click="remove(item)" ng-if="(item.status != 'Started' && item.status != 'Paused' )" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>

                    <a class="pull-left" ng-href="#/item/{{item.id}}">

                            <img ng-src="{{item.cover.url}}" width="100" height="100" style="">

                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{item.title | characters:60}}</h4>
                        <p class="description hidden-xs hidden-sm branch-name">{{item.description | htmlToPlaintext | characters : 130 }}</p>
                        <p><strong>{{item.pubdate | date : 'dd/MM/yyyy à HH:mm' }}</strong></p>
                    </div>
                </div>



        </tab>
        <tab heading="Modification">

            <br/>
            <accordion close-others="true">
                <accordion-group heading="Podcast" is-open="true">
                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Titre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" ng-model="podcast.title" required placeholder="Titre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-sm-2 control-label">URL</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" id="url" ng-model="podcast.url" required placeholder="url">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox col-sm-offset-3">
                            <label>
                                <input type="checkbox" ng-model="podcast.hasToBeDeleted" required> Suppression Auto
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="height" class="col-sm-2 control-label" >Type</label>
                        <div class="col-sm-10" >
                            <select class="form-control" ng-model="podcast.type">
                                <option value="CanalPlus">Canal+</option>
                                <option value="RSS">RSS</option>
                                <option value="send">Send</option>
                                <option value="Youtube">Youtube</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ng-click="save()" class="btn btn-default">Sauvegarder</button>
                        </div>
                    </div>
                </form>
                </accordion-group>
                <accordion-group heading="Cover">
                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="url" class="col-sm-2 control-label">URL</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" id="url" ng-model="podcast.cover.url" required placeholder="url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="width" class="col-sm-2 control-label">Lageur</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="width" ng-model="podcast.cover.width" required placeholder="url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="height" class="col-sm-2 control-label">Hauteur</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="height" ng-model="podcast.cover.height" required placeholder="url">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ng-click="save()" class="btn btn-default">Sauvegarder</button>
                        </div>
                    </div>
                        </form>
                </accordion-group>
            </accordion>

        </tab>
    </tabset>


</div>



