<br/>
<div ng-swipe-right="swipePage(-1)" ng-swipe-left="swipePage(1)">
    <div class="media clearfix"  ng-repeat="item in podcast.items | orderBy:'-pubdate' track by item.id">
        <div class="buttonList pull-right">
            <!-- Téléchargement en cours -->
        <span ng-show="item.status == 'Started' || item.status == 'Paused'" >
            <button ng-click="toggleDownload(item)" type="button" class="btn btn-primary "><i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pause"></i></button>
            <button ng-click="stopDownload(item)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-stop"></span></button>
        </span>

            <!-- Lancer le téléchargement -->
            <button ng-click="item.download()" ng-show="(item.status != 'Started' && item.status != 'Paused' ) && item.localUrl == null " type="button" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span></button>

            <!-- Lire dans le player -->
            <a ng-href="/#/podcast/{{ item.podcastId }}/item/{{ item.id }}/play" ng-show="item.localUrl != null" type="button" class="btn btn-success"><span class="ionicons ion-social-youtube"></span></a>
            
            <!-- Supprimer l'item -->
            <button ng-click="remove(item)" ng-show="(item.status != 'Started' && item.status != 'Paused' )" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>

            <!-- Menu complémentaire -->
            <div class="btn-group" dropdown is-open="isopen">
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle><i class="ionicons ion-android-more"></i></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li ng-show="item.localUrl != null"><a ng-href="{{ item.localUrl }}"><span class="glyphicon glyphicon-play text-success"></span> Lire</a></li>
                    <li ng-show="item.localUrl != null">
                        <a ng-hide="isInPlaylist(item)" ng-click="addOrRemoveInPlaylist(item)">
                            <span class="glyphicon glyphicon-plus text-primary"></span> Ajouter à la Playlist
                        </a>
                        <a ng-show="isInPlaylist(item)" ng-click="addOrRemoveInPlaylist(item)">
                            <span class="glyphicon glyphicon-minus text-primary"></span> Retirer de la Playlist
                        </a>
                    </li>
                    <li><a ng-href="{{ item.url }}"><span class="glyphicon glyphicon-globe text-info"></span> Lire en ligne</a></li>
                    <li><a ng-click="reset(item)"><span class="glyphicon glyphicon-repeat"></span> Reset</a></li>
                </ul>
            </div>
        </div>

        <a class="pull-left" ng-href="#/podcast/{{podcast.id}}/item/{{item.id}}">
            <img ng-src="{{item.cover.url}}" width="100" height="100" style="">
        </a>
        
        <div class="media-body">
            <h4 class="media-heading">{{ item.title }}</h4>
            <p class="description hidden-xs hidden-sm branch-name">{{item.description | htmlToPlaintext | characters : 130 }}</p>
            <p><strong>{{item.pubdate | date : 'dd/MM/yyyy à HH:mm' }}</strong></p>
        </div>
    </div>

    <div ng-show="podcast.totalItems > itemPerPage" class="text-center">
        <pagination items-per-page="itemPerPage" max-size="10" boundary-links="true" total-items="podcast.totalItems" ng-model="currentPage" ng-change="loadPage()" class="pagination pagination-centered" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>

        