<div class="container video-player">
    <br/>
    <div class="col-lg-8 player">
        <videogular vg-auto-play="pc.config.autoPlay" vg-player-ready="pc.onPlayerReady($API)" vg-complete="pc.onCompleteVideo()">
            <vg-media vg-src="pc.config.sources" vg-native-controls="false" vg-preload="pc.config.preload"></vg-media>

            <vg-controls vg-autohide="pc.config.sources[0].type.indexOf('audio') === -1 && pc.config.plugins.controls.autoHide" vg-autohide-time="pc.config.plugins.controls.autoHideTime">
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'H:mm:ss':'+0000' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'H:mm:ss':'+0000' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button ng-show="pc.config.sources[0].type.indexOf('audio') === -1"></vg-fullscreen-button>
                <vg-link ng-show="pc.config.sources[0].src" url="pc.config.sources[0].src"></vg-link>
                <vg-copy ng-show="pc.config.sources[0].src" url="pc.config.sources[0].src"></vg-copy>
            </vg-controls>

            <vg-overlay-play></vg-overlay-play>

            <vg-poster vg-url='pc.config.plugins.poster'></vg-poster>
        </videogular>
    </div>
    <div class="playlist col-lg-4">
        <div class="row button-list">
            <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4 text-center" ng-click="pc.loadWatchList()"><span class="fa fa-align-justify"></span> Playlists</div>
        </div>
        <div class="watch-lists clearfix" ng-if="pc.watchLists" ng-repeat="watchList in pc.watchLists | orderBy:'name' track by watchList.id">
            <button ng-click="pc.removeWatchList(watchList)" type="button" class="pull-right close"><i class="ionicons ion-close"></i></button>

            <a ng-href="{{ ::'/api/v1/playlists/' + watchList.id + '/rss' }}" target="_blank" class="pull-left rss"><span class="ionicons ion-social-rss"></span></a>
            <div class="watch-lists-body" ng-click="pc.selectWatchList(watchList)">
                <p>{{ ::watchList.name }}</p>
            </div>
        </div>

        <div class="media clearfix" ng-if="!pc.watchLists" ng-repeat="item in pc.currentWatchList.items track by item.id" ng-class="{'isReading' : pc.currentVideo.id === item.id}">
            <button ng-click="pc.remove(item)" type="button" class="pull-right close"><i class="ionicons ion-close"></i></button>

            <a class="pull-left cover" ng-click="pc.setVideo($index)">
                <img ng-src="{{ ::item.cover.url}}" width="100" height="100" style="">
            </a>

            <div class="media-body">
                <p ng-click="pc.setVideo($index)" class="">{{ ::item.title }}</p>
            </div>
        </div>
    </div>

</div>
