.media-body,.media-left,.media-right{display:block}
.media-body{width:auto}
@media screen and (min-width:768px){.navbar-fixed-top{position:relative}}
@media screen and (max-width:768px){body{padding-top:55px}}
.img-grayscale{-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-o-filter:grayscale(100%);-ms-filter:grayscale(100%);filter:grayscale(100%)}
@media screen and (min-width:1200px){.center{display:table-cell;vertical-align:middle;float:none}}
.thumbnail{min-height:263px}
@media (min-width:992px){.thumbnail{min-height:263px}}
@media (min-width:1200px){.thumbnail{min-height:263px}}
.search-bar{margin-top:12px}
.search-bar tags-input .host{margin-top:0}
.button-row{z-index:1000}
.podcastlist * .thumb{margin-bottom:15px}
.podcastlist img{position:relative;border-radius:5px;background-color:#fff;box-shadow:0 2px 6px 2px rgba(66,66,66,.75)}
.podcastlist img:hover{box-shadow:0 2px 6px 2px rgba(51,122,183,.5)}
.listItems{list-style:none}
.listItems li{clear:both;max-height:100px;height:100px;line-height:25px}
.listItems li img{float:left}
.listItems li .description{padding-left:25px;vertical-align:middle}
.downloadingItems{list-style:none}
.downloadingItems .progress{margin-top:5px}
.box{position:relative;border-radius:5px;background-color:#fff;box-shadow:0 0 15px 0 rgba(0,0,0,.1);border:1px solid #ddd}
.box:hover{box-shadow:0 0 15px 0 rgba(51,122,183,.5)}
.item-listing .pagination{margin-bottom:0}
.item-listing .search-button{margin-top:20px}
.item-listing .itemInList{padding-top:15px;padding-bottom:15px}
.item-listing .itemInList img{height:215px;border-top-left-radius:5px;border-top-right-radius:5px;max-height:219px;width:100%;object-fit:cover}
@media screen and (min-width:1200px){.item-listing .itemInList img{height:165px}}
.item-listing .itemInList .overlay-button{opacity:1;position:absolute;top:0;right:0}
.item-listing .itemInList .overlay-button:hover{opacity:1}
.item-listing .itemInList .overlay-button .btn-group .btn{background-color:transparent;color:#fff}
.item-listing .itemInList .overlay-main-button{opacity:0;position:absolute;top:14%;left:20%;font-size:1000%;width:33%;color:rgba(255,255,255,.82);height:0}
.item-listing .itemInList .overlay-main-button:hover{opacity:1}
@media screen and (min-width:1200px){.item-listing .itemInList .overlay-main-button{top:6%;font-size:108px}}
.item-listing .itemInList .itemTitle{padding:2px;height:50px;display:flex;justify-content:center;align-items:center}
.item-listing .itemInList .row-button{display:none;padding-bottom:10px}
.item-listing .itemInList.ng-enter,.item-listing .itemInList.ng-leave{-webkit-transition:500ms cubic-bezier(0.25,.25,.75,.75) all;-moz-transition:500ms cubic-bezier(0.25,.25,.75,.75) all;-ms-transition:500ms cubic-bezier(0.25,.25,.75,.75) all;-o-transition:500ms cubic-bezier(0.25,.25,.75,.75) all;transition:500ms cubic-bezier(0.25,.25,.75,.75) all;position:relative;display:block}
.item-listing .itemInList.ng-enter.ng-enter-active,.item-listing .itemInList.ng-leave{opacity:1}
.item-listing .itemInList.ng-enter,.item-listing .itemInList.ng-leave.ng-leave-active{opacity:0}
.item-listing .itemInList.ng-enter-stagger{-webkit-transition-duration:0s;transition-duration:0s}
.navbar{margin-bottom:0;border-radius:0}
.downloadList .media{background-color:#fff;margin-left:5px;padding-right:5px;margin-right:5px;border:1px solid #ddd;border-radius:5px;box-shadow:5px 5px 5px 0 rgba(0,0,0,.1)}
.downloadList .media * img{width:100px;height:90px;border-top-left-radius:5px;border-bottom-left-radius:5px;object-fit:cover}
.downloadList .media .media-heading{padding-top:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.downloadList .media .buttonList{padding-top:24px}
.downloadList .item-in-waiting-list{overflow:visible}
.downloadList .item-in-waiting-list .btn{border:none}
podcast-items-list .media{margin-left:5px;margin-right:5px;overflow:visible}
podcast-items-list .media .media-heading{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
podcast-items-list .media img{object-fit:cover}
podcast-items-list .media .btn{border:none}
podcast-items-list .media.ng-leave{-webkit-animation:fadeOutRight .5s;animation:fadeOutRight .5s}
podcast-items-list .media.ng-enter{-webkit-animation:fadeInLeft .5s;animation:fadeInLeft .5s}
.bootstrap .tags{background-color:#fff;border:1px solid #ccc;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;-webkit-appearance:inherit}
.bootstrap .tags.focused{border-color:#66afe9;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.bootstrap .tags .tag-item{background:#428bca;border:1px solid #357ebd;border-radius:4px;color:#fff}
.bootstrap .tags .tag-item.selected{background:#d9534f;border:1px solid #d43f3a;border-radius:4px;color:#fff}
.bootstrap .tags .tag-item button{background:0 0;color:#000;opacity:.4}
.bootstrap .autocomplete{border-radius:4px}
.bootstrap .autocomplete .tag-item.selected{color:#262626;background-color:#e9e9e9}
.podcast-details-header{background-size:100%;background-repeat:no-repeat;background-position:center center;width:100%;height:200px;padding-left:0!important;padding-right:0!important}
.information-area{padding-top:95px}
@media screen and (max-width:768px){.information-area{padding-top:115px}}
.information-area .action-button{display:inline-block;padding:6px}
.information-area .information-text{display:inline-block;padding-left:8px;padding-right:8px;border-radius:5px;background-color:rgba(245,245,245,.58)}
.information-area .information-text h3,.information-area .information-text p{margin:0}
.upload-item .drop-box{background:#F8F8F8;border:5px dashed #DDD;height:100px;text-align:center}
.upload-item .drop-box .upload-text{height:100%;padding-top:5%}
.upload-item .drop-box.dropping{background:#C7C7C7}
.item-details * .btn-default.dropdown-toggle{border:none}
.item-details .thumbnail img{min-height:200px;object-fit:cover}
.item-player{margin-bottom:16px}
.item-player video{width:100%;height:auto}
.item-player videogular div.btn-video-share{display:table-cell;width:50px;vertical-align:middle;text-align:center;cursor:pointer}
.item-player videogular div.btn-video-share a,.item-player videogular div.btn-video-share a:hover,.item-player videogular div.btn-video-share a:visited{color:#fff;text-decoration:none}
.item-player vg-controls{top:calc(100% - 55px)!important}
.navbar-nav>li{float:left}
@media screen and (max-width:768px){.navbar-nav{margin:7.5px -15px 0;padding-right:16px}}
.video-player videogular div.btn-video-share{display:table-cell;width:50px;vertical-align:middle;text-align:center;cursor:pointer}
.video-player videogular div.btn-video-share a,.video-player videogular div.btn-video-share a:hover,.video-player videogular div.btn-video-share a:visited{color:#fff;text-decoration:none}
.video-player .button-list{color:#fff;padding-bottom:8px}
.video-player .player{padding-top:16px}
.video-player .player,.video-player .playlist{background:#000}
@media screen and (min-width:1200px){.video-player .player,.video-player .playlist{height:500px}}
.video-player video{width:100%;height:auto}
.video-player .playlist{overflow-x:scroll;height:500px}
@media screen and (min-width:1200px){.video-player .playlist{padding-top:8px}}
@media screen and (max-width:1200px){.video-player .playlist{padding-bottom:16px}}
.video-player .playlist .media{margin-top:0;height:115px;padding-top:8px;padding-left:8px;padding-right:8px;color:#fff;font-weight:700}
.video-player .playlist .isReading{background:#6F6F6F}
.video-player .playlist .isReading img{border:2px solid rgba(216,41,41,.81)}
.btn-share-video videogular div.btn-video-share{display:table-cell;width:50px;vertical-align:middle;text-align:center;cursor:pointer}
.btn-share-video videogular div.btn-video-share a,.btn-share-video videogular div.btn-video-share a:hover,.btn-share-video videogular div.btn-video-share a:visited{color:#fff;text-decoration:none}
videogular{background-color:rgba(255,255,255,0)!important}