<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy/MM/dd HH:mm:ss,SSS} [%thread] %-5level %logger{26} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="lan.dk.podcastserver" level="DEBUG"/>
    <logger name="lan.dk.podcastserver.utils" level="WARN"/>
    <logger name="org.hibernate" level="OFF" />
    <logger name="org.springframework" level="OFF" />

    <!-- Spring MVC -->
    <!-- ORM | Hibernate
          <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
          <logger name="org.springframework.transaction" level="TRACE"/>
          <logger name="org.springframework.web" level="DEBUG"/>
    -->


    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>