<ps-toolbar>
  <span class="title">Search</span>
</ps-toolbar>

<div class="search__bar">

  <form [formGroup]="form" class="search__sort">

    <mat-form-field>
      <input matInput placeholder="Search..." formControlName="q" name="q">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Tags" formControlName="tags" name="tags">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Status" formControlName="status" name="status">
        <mat-option *ngFor="let status of statuses" [value]="status.value">
          {{ status.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <mat-form-field formGroupName="sort">
        <mat-select placeholder="Sort on" formControlName="property" name="property">
          <mat-option *ngFor="let property of properties" [value]="property.value">
            {{ property.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field formGroupName="sort">
        <mat-select placeholder="Order" formControlName="direction" name="direction">
          <mat-option *ngFor="let direction of directions" [value]="direction.value">
            {{ direction.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

  </form>

</div>

<mat-paginator [length]="items.totalElements"
               [pageSize]="12"
               [pageSizeOptions]="[4, 12, 36]"
               [pageIndex]="items.number"
               (page)="changePage($event)">
</mat-paginator>

<div class="search__results">
  <mat-card *ngFor="let item of items?.content">
    <mat-card-header>
      <mat-card-title>{{ item.title | truncate: 20}}</mat-card-title>
    </mat-card-header>
    <a [routerLink]="['/podcasts', item.podcastId, 'items', item.id]">
      <img mat-card-image [src]="item.cover?.url">
    </a>
<!--    <img mat-card-image [routerLink]="['/podcasts', item.podcastId, 'items', item.id]" [src]="item.cover?.url">-->
    <mat-card-actions>
      <button mat-button (click)="play(item)" *ngIf="isPlayable(item)">
        <mat-icon class="section-icon">play_arrow</mat-icon>
        Play
      </button>
      <button mat-button (click)="download(item)" *ngIf="isDownloadable(item)"  >
        <mat-icon>file_download</mat-icon>
        Download
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-paginator [length]="items.totalElements"
               [hidePageSize]="true"
               [pageSize]="12"
               [pageIndex]="items.number"
               (page)="changePage($event)">
</mat-paginator>
