@import "../../variables";

.search__bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 7vh;

  .search__sort {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }
}

mat-paginator {
  background-color: $global-background-color;
}

.search__results {
  list-style: none;
  display: flex;

  flex-flow: row wrap;
  justify-content: space-around;

  mat-card {
    width: 215px;
    margin: 5px;

    [mat-card-image] {
      height: 263px;
      object-fit: cover;
      &:first-child {
        margin-top: 0;
      }
    }

  }
}
