<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      </div>
    </div>
  </nav>
</header>
