body.modal-open .modal-backdrop {
  height: 1000%;
}
body.modal-open .modal-header,
body.modal-open .modal-footer {
  border-bottom: none;
  border-top: none;
}
body.modal-open .modal-body {
  padding: 0;
}
body.modal-open .modal-body .list-group {
  margin-bottom: 0;
}
body.modal-open .modal-body .list-group .list-group-item {
  border-radius: 0;
  cursor: default !important;
}
body.modal-open .modal-body .list-group .list-group-item.play-mode {
  cursor: pointer;
}
body.modal-open .modal-body .list-group .list-group-item span.fa {
  cursor: pointer;
}
