.thumbnail {
    min-height: 263px;
  @media (min-width: 992px){
    min-height: 263px;
  }
  @media (min-width: 1200px){
    min-height: 263px;
  }

}

.button-row {
  z-index: 1000;
}

.listItems {
  list-style: none;
    .titleItem {

    }
    li {
        clear: both;
        max-height: 100px;
        height: 100px;
        line-height: 25px;
        img {
          float : left;
        }
        .description {
          padding-left: 25px;
          vertical-align: middle;
        }
    }
}

.downloadingItems {
  list-style: none;
  .progress {
    margin-top: 5px;
  }
}

.box {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 0%     0%     25%     25% /     0%     0%     3%     3%;
}
.box:before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg) skew(-0deg);
  -moz-transform: rotate(-3deg) skew(-0deg);
  -ms-transform: rotate(-3deg) skew(-0deg);
  -o-transform: rotate(-3deg) skew(-0deg);
  transform: rotate(-3deg) skew(-0deg);
}
.box:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 15px;
  right: 10px;
  width: 50%;
  height: 20%;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(3deg) skew(0deg);
  -moz-transform: rotate(3deg) skew(0deg);
  -ms-transform: rotate(3deg) skew(0deg);
  -o-transform: rotate(3deg) skew(0deg);
  transform: rotate(3deg) skew(0deg);
}

.item-listing {

  .pagination {
    margin-bottom: 0px;
  }

  .itemInList {
      padding-top: 15px;
      padding-bottom: 15px;
      //margin: 5px;
      img {
        padding-bottom: 15px;
        margin : auto;
        max-width : 100%;
        max-height : 174px;
        height : 174px // Pour le ratio 16/9
      }
      .itemTitle {
        height: 40px;

      }
      .row-button {
        padding-bottom: 10px;
      }
    &.ng-enter,
    &.ng-leave
    {
      -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      position: relative;
      display: block;
    }

    &.ng-enter.ng-enter-active,
    &.ng-leave {
      opacity: 1;
      //right: 0;
      //height: 30px;
    }

    &.ng-leave.ng-leave-active,
    &.ng-enter {
      opacity: 0;
      //right: -30px;
      //height: 0px;
    }
    &.ng-enter-stagger {
      /* this will have a 100ms delay between each successive leave animation */
      //-webkit-transition-delay: 0.04s;
      //transition-delay: 0.04s;

      /* in case the stagger doesn't work then these two values
       must be set to 0 to avoid an accidental CSS inheritance */
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
  }
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.downloadList {
  .media {
    .media-heading {
      padding-top: 10px;
    }
    .buttonList {
      padding-top: 24px;
    }
  }
}

.media {
  &.ng-enter,
  &.ng-leave
  {
    -webkit-transition: 275ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 275ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 275ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 275ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 275ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
    //right: 0;
    //height: 30px;
  }

  &.ng-leave.ng-leave-active,
  &.ng-enter {
    opacity: 0;
    //right: -50px;
    //height: 0px;
  }
  &.ng-enter-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}