<div class="btn-group" uib-dropdown>
    <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle><i class="glyphicon glyphicon-option-vertical"></i></button>
    <ul uib-dropdown-menu class="dropdown-menu-right" role="menu">
        <li ng-if="::(imc.localRead)" ng-show="imc.item.isDownloaded">
            <a target="_self" class="with-link" ng-href="{{ ::imc.item.proxyURL }}">
                <span class="glyphicon glyphicon-play text-success"></span> Read
            </a>
            <a ng-show="imc.item.isDownloaded" copy="{{ ::imc.item.proxyURL }}" class="pull-right">
                <span class="glyphicon glyphicon-copy"></span>
            </a>
        </li>
        <li ng-if="::(imc.downloadControl)" ng-show="imc.item.status == 'STARTED' || imc.item.status == 'PAUSED'">
            <a ng-show="imc.item.status == 'STARTED'" ng-click="imc.toggleDownload(imc.item)"><i class="glyphicon glyphicon-play text-primary"></i><i class="glyphicon glyphicon-pause text-primary"></i> Pause</a>
            <a ng-show="imc.item.status == 'PAUSED'" ng-click="imc.toggleDownload(imc.item)"><i class="glyphicon glyphicon-play text-primary"></i><i class="glyphicon glyphicon-pause text-primary"></i> Resume</a>
        </li>
        <li ng-if="::(imc.downloadControl)" ng-show="imc.item.status == 'STARTED' || imc.item.status == 'PAUSED'">
            <a ng-click="imc.stopDownload(imc.item)">
                <span class="glyphicon glyphicon-stop text-danger"></span> Stop
            </a>
        </li>
        <li ng-if="::(imc.downloadControl)" ng-show="(imc.item.status != 'STARTED' && imc.item.status != 'PAUSED' ) && !imc.item.isDownloaded">
            <a ng-click="imc.download(imc.item)">
                <span class="glyphicon glyphicon-save text-primary"></span> Download
            </a>
        </li>
        <li ng-if="::(imc.readInPlayer)">
            <a ng-show="imc.item.isDownloaded" ng-click="imc.play(imc.item)">
                <span class="ionicons ion-social-youtube text-success"></span> Read in the player
            </a>
        </li>
        <li ng-if="::(imc.playlistControl === true || imc.playlistControl === 'auto')" ng-show="imc.item.isDownloaded && imc.hasToBeVisible('playlistControl')">
            <a ng-click="imc.addOrRemove(imc.item)">
                <span ng-hide="imc.isInPlaylist(imc.item)"><span class="glyphicon glyphicon-plus text-primary"></span> Add to Playlist</span>
                <span ng-show="imc.isInPlaylist(imc.item)"><span class="glyphicon glyphicon-minus text-primary"></span> Remove from Playlist</span>
            </a>
        </li>
        <li ng-if="::(imc.watchlistControl === true || imc.watchlistControl === 'auto')" ng-show="imc.item.isDownloaded && imc.hasToBeVisible('watchlistControl')">
            <a ng-click="imc.addToWatchList()">
                <span class="fa fa-align-justify text-primary"></span> WatchList
            </a>
        </li>
        <li ng-if="::imc.item.url">
            <a target="_blank" class="with-link" ng-href="{{ ::imc.item.url }}">
                <span class="glyphicon glyphicon-globe text-info"></span> Read OnLine
            </a>
            <a copy="{{ ::imc.item.url }}" class="pull-right">
                <span class="glyphicon glyphicon-copy"></span>
            </a>
        </li>
        <li ng-if="::(imc.deleteItem)">
            <a ng-click="imc.remove(imc.item)"><span class="glyphicon glyphicon-remove text-danger"></span> Delete</a>
        </li>
        <li ng-if="::(imc.resetItem)">
            <a ng-click="imc.reset(imc.item)"><span class="glyphicon glyphicon-repeat"></span> Reset</a>
        </li>
    </ul>
</div>