.podcasts__results {
  list-style: none;
  display: flex;
  margin-top: 8px;
  flex-flow: row wrap;
  justify-content: space-around;

  [mat-card-image] {
    width: 200px;
    height: 200px;
    margin: 3px;
    object-fit: cover;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }
}

mat-icon {
  font-size: 1.3rem;
  width: inherit;
  height: 1.4rem;
  vertical-align: middle;
}
