
.jumbotron {
  display: block;
  width:100%;
  height:400px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .buttons {
    width: 100%;
    display:flex;
    justify-content:flex-end;

    .mat-icon-button {
      color: white;
    }

    .back {
      margin-right:auto;
    }

    .more {
      align-self:end;
    }


  }

}
