<mat-toolbar color="primary">
  <span routerLink="/search">Podcast-Server</span>
  <span class="spacer"></span>
  <a routerLink="/podcasts"><mat-icon class="section-icon" fontSet="fa" fontIcon="fa-podcast"></mat-icon></a>
  <mat-icon class="section-icon">timeline</mat-icon>
  <mat-icon class="section-icon">ondemand_video</mat-icon>
  <mat-icon class="section-icon">add_to_photos</mat-icon>
  <mat-icon class="section-icon" fontSet="fa" fontIcon="fa-tasks"></mat-icon>
</mat-toolbar>
<router-outlet></router-outlet>
