mat-sidenav-container {
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.section-icon {
  padding: 0 14px;

  &[fontSet=fa]{
    font-size: 24px;
  }

}

a[mat-list-item] {
  text-decoration: none;
}
