<mat-sidenav-container>

  <mat-sidenav mode="over" [opened]="sideNavOpen" (openedChange)="onOpenChange($event)">
    <mat-list>
      <a mat-list-item routerLink="/search">
        <mat-icon class="section-icon">search</mat-icon>
        <h4 mat-line>Search</h4>
      </a>
      <a routerLink="/podcasts" mat-list-item>
        <mat-icon class="section-icon" fontSet="fa" fontIcon="fa-podcast"></mat-icon>
        <h4 mat-line>
          Podcasts
        </h4>
      </a>
      <a mat-list-item>
        <mat-icon class="section-icon">timeline</mat-icon>
        <h4 mat-line>Stats</h4>
      </a>
      <a mat-list-item>
        <mat-icon class="section-icon">ondemand_video</mat-icon>
        <h4 mat-line>Player</h4>
      </a>
    </mat-list>
  </mat-sidenav>

  <router-outlet></router-outlet>

</mat-sidenav-container>

<ps-floating-player></ps-floating-player>
