<nav class="pager" aria-label="Pagination">
  <a
    mat-icon-button
    aria-label="Previous page"
    queryParamsHandling="merge"
    [queryParams]="prevQuery()"
    [routerLink]="[]"
    [attr.aria-disabled]="first()"
    [class.pager__btn--disabled]="first()"
    [tabindex]="first() ? -1 : 0"
  >
    <mat-icon>chevron_left</mat-icon>
  </a>

  <a
    mat-icon-button
    aria-label="Next page"
    queryParamsHandling="merge"
    [queryParams]="nextQuery()"
    [routerLink]="[]"
    [attr.aria-disabled]="last()"
    [class.pager__btn--disabled]="last()"
    [tabindex]="last() ? -1 : 0"
  >
    <mat-icon>chevron_right</mat-icon>
  </a>
</nav>
