@if (!first() || !last()) {
  <nav class="pager" aria-label="Pagination">
    @if (!first()) {
      <a
        mat-icon-button
        aria-label="Previous page"
        queryParamsHandling="merge"
        [queryParams]="prevQuery()"
        [routerLink]="[]"
      >
        <mat-icon>chevron_left</mat-icon>
      </a>
    }

    @if (!last()) {
      <a
        mat-icon-button
        aria-label="Next page"
        queryParamsHandling="merge"
        [queryParams]="nextQuery()"
        [routerLink]="[]"
      >
        <mat-icon>chevron_right</mat-icon>
      </a>
    }
  </nav>
}
