.navbar {
  margin-bottom: 20px;
}

.downloadList {
  .btn-stop {
    margin-left: 6px;
  }
}


#listItem {
    .thumbnail.right-caption {
      float: left;
      width: 280px;
      height: 150px;

      .logo {
        text-align:center;
      }
      img {
        float: left;
        margin-right: 9px;
        max-width: 140px;
        height: 140px;
      }

      .caption {
        padding: 4px;
        width: 260px;
        max-height: 140px;
      }
    }

    .pagination-centered {
        width: 890px;
    }
}

#fancyPodcastDetails {
  .thumbnail {
    a {
      display: block;
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

