<div>
  <md-toolbar color="primary">
    <md-icon class="menu" (click)="sidenav.toggle()">menu</md-icon>
    Podcast Server
  </md-toolbar>
  <md-sidenav-layout>
    <md-sidenav align="start" mode="over" #sidenav>
      Side-Nav
    </md-sidenav>
    <md-grid-list cols="4" rowHeight="200px" >
      <md-grid-tile *ngFor="let item of itemsPage?.content">
        <img [src]="item.cover.url">
        <md-grid-tile-footer>
          <h3 md-line>{{item.title}}</h3>
          <a [href]="item.proxyURL" target="_blank">
            <button md-icon-button> <md-icon>play_circle_outline</md-icon> </button>
          </a>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </md-sidenav-layout>
</div>
