
<ps-toolbar>
  <span class="title">{{item.title}}</span>

  <span class="right">
      <a mat-icon-button [href]="item.proxyURL" target="_blank">
        <mat-icon>share</mat-icon>
      </a>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="more">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a mat-menu-item [href]="item.url" target="_blank">
          <mat-icon>public</mat-icon>
          <span>Play online</span>
        </a>
        <button mat-menu-item (click)="delete()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item (click)="reset()">
          <mat-icon>restore</mat-icon>
          <span>Reset</span>
        </button>
      </mat-menu>

  </span>

</ps-toolbar>

<div class="item__cover" [ngStyle]="{'background-image': 'url(' + item.cover.url + ')' }">
  <div class="buttons">
    <mat-icon (click)="back()">arrow_back</mat-icon>
  </div>
</div>

<div class="item__actions_button">
  <button mat-raised-button color="primary" (click)="play()" *ngIf="isPlayable(item)">
    <mat-icon>play_arrow</mat-icon>
    Play
  </button>
  <button mat-raised-button color="primary" (click)="download()" *ngIf="isDownloadable(item)"  >
    <mat-icon>file_download</mat-icon>
    Download
  </button>

</div>

<mat-divider></mat-divider>

<h6 class="item__description__podcast_link">In <a class="item__description_link" [routerLink]="['/', 'podcasts', podcast.id]">{{ podcast.title }}</a></h6>

<p class="item__description" *ngIf="!isEmpty(item.description); else emptyDescription">
  {{item.description}}
</p>

<ng-template #emptyDescription>
  <p class="item__description" >
    No description for this item
  </p>
</ng-template>

<mat-divider></mat-divider>

<div class="item__date">
  <div class="item__date__box publication_date" *ngIf="item.pubDate">
    <mat-icon mat-list-icon>today</mat-icon>
    <div class="item__date_text">
      <span class="item_date_text_date">{{ item.pubDate | date: 'mediumDate'}}</span>
      <span class="item_date_text_time">{{ item.pubDate | date: 'mediumTime'}}</span>
    </div>
  </div>
  <div class="item__date__box creation_date" *ngIf="item.creationDate">
    <mat-icon mat-list-icon>add_box</mat-icon>
    <div class="item__date_text">
      <span class="item_date_text_date">{{ item.creationDate | date: 'mediumDate'}}</span>
      <span class="item_date_text_time">{{ item.creationDate | date: 'mediumTime'}}</span>
    </div>
  </div>
  <div class="item__date__box download_date" *ngIf="item.downloadDate">
    <mat-icon mat-list-icon>file_download</mat-icon>
    <div class="item__date_text">
      <span class="item_date_text_date">{{ item.downloadDate | date: 'mediumDate'}}</span>
      <span class="item_date_text_time">{{ item.downloadDate | date: 'mediumTime'}}</span>
    </div>
  </div>
</div>
