.item__cover {
  display: block;
  width:100%;
  height:400px;
  margin: auto;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .buttons {
    width: 100%;
    display:flex;
    justify-content:flex-start;
    color: white;
    padding: 1vh 1vh;

    & mat-icon {
      cursor: pointer;
    }
  }
}

.item__actions_button {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.item__description {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 16px;
  padding-right: 16px;
  color: #7f7f7f;
}

.item__description__podcast_link {
  color: #7f7f7f;
  padding-left: 16px;
  padding-right: 16px;
  a.item__description_link {
    color: #7f7f7f;
    text-decoration: none;
  }
}

.item__date {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 72px;

  .item__date__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    mat-icon {
      padding: 16px;
    }
    .item__date_text {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .item_date_text_date {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: inherit;
      }
      .item_date_text_time {
        font-size: 14px;
      }
    }
  }
}
