
<ps-toolbar>
  <span class="title">{{item.title}}</span>
</ps-toolbar>

<div class="item__cover" [ngStyle]="{'background-image': 'url(' + item.cover.url + ')' }">
  <div class="buttons">
    <mat-icon (click)="back()">arrow_back</mat-icon>
  </div>
</div>

<p class="item__description">
  {{item.description}}
</p>

<ul>
  <li>Publication Date : {{ item.pubDate | date: 'medium'}}</li>
  <li>Creation Date : {{ item.creationDate | date: 'medium'}}</li>
  <li>Download Date : {{ item.downloadDate | date: 'medium'}}</li>
  <li>Status : {{ item.status }}</li>
</ul>

<pre><code>
    {{ item | json }}
</code></pre>
