@import "../../../../../../../../../bower_components/bootstrap/less/variables.less";

.navbar-nav {
  & >li {
    float: left;
  }

  @media screen and (max-width: @screen-sm-min) {
    margin: 7.5px -15px 0 -15px;
    padding-right: 16px;
  }
}