
<mat-paginator
  [hidePageSize]="true"
  [length]="items.totalElements"
  [pageSize]="12"
  [pageIndex]="items.number"
  (page)="changePage($event)">
</mat-paginator>

<mat-list>
  <a mat-list-item *ngFor="let item of items.content" [routerLink]="['items', item.id]">
    <img matListAvatar [src]="item.cover.url" width="100" height="100">
    <h3 matLine> {{ item.title }} </h3>
    <p matLine>{{ item.pubDate | date: 'dd/MM/yyyy à HH:mm'}}</p>
  </a>
</mat-list>

<mat-paginator
  [hidePageSize]="true"
  [length]="items.totalElements"
  [pageSize]="10"
  [pageIndex]="items.number"
  (page)="changePage($event)">
</mat-paginator>
