mat-toolbar {
  width: 100%;
  display:flex;
  justify-content:flex-end;

  .toolbar__left {
    margin-right:auto;
    mat-icon {
      font-size: 1.3rem;
      width: inherit;
      height: 1.4rem;
      vertical-align: middle;
    }

    .toolbar__title {
      margin-left: 1vw;
    }
  }

  .more {
    align-self:end;
    padding-top: 12px;
  }
}

.jumbotron {
  display: block;
  width:100%;
  height:400px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .buttons {
    width: 100%;
    display:flex;
    justify-content:flex-start;
    color: white;
    padding: 1vh 1vh;

    & mat-icon {
      cursor: pointer;
    }
  }

}


