<ps-toolbar>
  <span class="title">{{ podcast.title }}</span>

  <span class="right">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="more">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [href]="'/api/podcasts/' + podcast.id + '/rss'" target="_blank">
          <mat-icon>rss_feed</mat-icon>
          <span>RSS Feed</span>
        </a>
        <button mat-menu-item (click)="refresh()">
          <mat-icon>sync</mat-icon>
          <span>Refresh</span>
        </button>

        <button mat-menu-item>
          <mat-icon>mode_edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item>
          <mat-icon>timeline</mat-icon>
          <span>Stats</span>
        </button>
      </mat-menu>
  </span>
</ps-toolbar>

<div class="jumbotron" [ngStyle]="{'background-image': 'url(' + podcast.cover.url + ')' }">
  <div class="buttons">
    <a routerLink="/podcasts">
      <mat-icon (click)="back()">arrow_back</mat-icon>
    </a>
  </div>
</div>

<router-outlet></router-outlet>
