.jumbotron {
  display: block;
  width:100%;
  height:400px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .buttons {
    width: 100%;
    display:flex;
    justify-content:flex-start;
    color: white;
    padding: 1vh 1vh;

    & a {
      color: white;
      mat-icon {
        cursor: pointer;
      }
    }
  }

}


